.max-card{
  /* max-width:60rem; */
}
.container {
  margin: auto;
}
.side-card {
  position: relative;
  background: transparent;
  border: #28a9cd 1px solid;
  display: flex;
  /* width:6rem; */
  align-items: center;
  justify-content: center;
  height: 100%;
}

.side-text,
.side-text-lemon,
.side-text-pink,
.side-text-gray,
.side-text-orange{
  position: absolute;
  left:20%;
  transform: translateX(-50%) rotate(270deg);
  color: #28cce1;
  white-space: nowrap;
}
.side-text-lemon{
  color:#66e46c;
}
.side-text-orange{
  color:#eec335;
}
.side-text-pink{
  color:#e65e63;
}
.side-text-gray{
  color:#bdb6b6;
}
.border-text {
  position: absolute;
  left:72%;
  transform: translateX(-50%) rotate(270deg);
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #28a9cd;
  font-size:3.2rem;
}
.border-text-lemon,
.border-text-pink,
.border-text-gray,
.border-text-orange {
  position: absolute;
  left:72%;
  transform: translateX(-50%) rotate(270deg);
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #66e46c;
  font-size:3.2rem;
}
.border-text-orange{
  -webkit-text-stroke: 1px #eec335;
}
.border-text-pink{
  -webkit-text-stroke: 1px #e65e63;
}
.border-text-gray{
  -webkit-text-stroke: 1px #bdb6b6;
}
.save-text,
.save-text-lemon,
.save-text-pink,
.save-text-gray,
.save-text-orange{
  position: absolute;
  top:15%;
  left:74%;
  transform: translateX(-20%) rotate(270deg);
  color: #28cce1;
  font-weight:bold;
  font-size:.65rem;
  white-space: nowrap;
}
.save-text-lemon{
  color: #66e46c;
}
.save-text-orange{
  color: #eec335;
}
.save-text-pink{
  color: #e65e63;
}
.save-text-gray{
  color: #bdb6b6;
}



.voucher-card,
.card-lemon,
.card-pink,
.card-gray,
.card-orange {
  background: linear-gradient(to bottom right, #28a9cd, #28cce1);
  color: white;
  text-align: center;
  padding:1rem 3rem; /* Adjust padding */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  position: relative;
}
.voucher-title {
  font-size: 2.5rem; /* Equivalent to text-2xl */
  font-weight: 600; /* Equivalent to font-semibold */
}
.card-pink {
  background: linear-gradient(to bottom right, #e65e63, #ef3c89c3);
}
.card-lemon {
  background: linear-gradient(to bottom right, #66e46c, #3cd577);
}
.card-pink-border{
  border:1px solid #e65e63;
}
.card-lemon-border{
  border:1px solid #66e46c;
}
.card-gray {
  background: linear-gradient(to bottom right, #bdb6b6, #bdb6b6);
}
.card-orange {
  background: linear-gradient(to bottom right, #eec335, #e2c13e);
}
.card-orange-border{
  border:1px solid #eec335;
}
.card-gray-border{
  border:1px solid #bdb6b6;
}

.tooltip {
  position: absolute;
  background-color: rgb(2, 4, 52);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 100%;
  left: 92%;
  transform: translateX(-50%);
  z-index: 20;
  white-space: normal;
  transition: opacity 0.3s;
  opacity: 1;
  /* width: 300px; */
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 51%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}


.side-left0,
.side-left1,
.side-left2,
.side-left3,
.side-left4,
.side-left5,
.side-left6,
.side-left7,
.side-left8,
.side-left9,
.side-left10,
.side-left11
{
  /* width:.7rem; */
  height:.7rem;
  background-color: white;
  border: #28a9cd 1px solid;
  border-left-color: transparent;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 94%;
  transform: translateY(-50%);
}
.lemon-left0,
.lemon-left1,
.lemon-left2,
.lemon-left3,
.lemon-left4,
.lemon-left5,
.lemon-left6,
.lemon-left7,
.lemon-left8,
.lemon-left9,
.lemon-left10,
.lemon-left11
{
  /* width:.7rem; */
  height:.7rem;
  background-color: white;
  border: #66e46c 1px solid;
  border-left-color: transparent;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 94%;
  transform: translateY(-50%);
}
.pink-left0,
.pink-left1,
.pink-left2,
.pink-left3,
.pink-left4,
.pink-left5,
.pink-left6,
.pink-left7,
.pink-left8,
.pink-left9,
.pink-left10,
.pink-left11
{
  /* width:.7rem; */
  height:.7rem;
  background-color: white;
  border: #e65e63 1px solid;
  border-left-color: transparent;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 94%;
  transform: translateY(-50%);
}
.gray-left0,
.gray-left1,
.gray-left2,
.gray-left3,
.gray-left4,
.gray-left5,
.gray-left6,
.gray-left7,
.gray-left8,
.gray-left9,
.gray-left10,
.gray-left11
{
  /* width:.7rem; */
  height:.7rem;
  background-color: white;
  border: #bdb6b6 1px solid;
  border-left-color: transparent;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 94%;
  transform: translateY(-50%);
}
.orange-left0,
.orange-left1,
.orange-left2,
.orange-left3,
.orange-left4,
.orange-left5,
.orange-left6,
.orange-left7,
.orange-left8,
.orange-left9,
.orange-left10,
.orange-left11
{
  /* width:.7rem; */
  height:.7rem;
  background-color: white;
  border: #eec335 1px solid;
  border-left-color: transparent;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 94%;
  transform: translateY(-50%);
}
.circular-left0,
.circular-left1,
.circular-left2,
.circular-left3,
.circular-left4,
.circular-left5,
.circular-left6,
.circular-left7,
.circular-left8,
.circular-left9,
.circular-left10,
.circular-left11
{
  /* width:3px; */
  height:3px;
  background-color:white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 94%;
  transform: translateY(-50%);
}
.circular-right0,
.circular-right1,
.circular-right2,
.circular-right3,
.circular-right4,
.circular-right5,
.circular-right6,
.circular-right7,
.circular-right8,
.circular-right9,
.circular-right10,
.circular-right11 {
  /* width: .7rem; */
  height: .7rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 94%;
  transform: translateY(-50%);
}

.circular-left1,
.side-left1,
.lemon-left1,
.orange-left1,
.pink-left1,
.gray-left1,
.circular-right1{
  top:86%;
}
.circular-left2,
.side-left2,
.lemon-left2,
.orange-left2,
.pink-left2,
.gray-left2,
.circular-right2{
  top:78%;
}
.circular-left3,
.side-left3,
.lemon-left3,
.pink-left3,
.gray-left3,
.orange-left3,
.circular-right3{
  top:70%;
}
.circular-left4,
.side-left4,
.lemon-left4,
.pink-left4,
.gray-left4,
.orange-left4,
.circular-right4{
  top:62%;
}
.circular-left5,
.side-left5,
.lemon-left5,
.pink-left5,
.gray-left5,
.orange-left5,
.circular-right5{
  top:54%;
}
.circular-left6,
.side-left6,
.lemon-left6,
.orange-left6,
.pink-left6,
.gray-left6,
.circular-right6{
  top:46%;
}
.circular-left7,
.side-left7,
.lemon-left7,
.pink-left7,
.gray-left7,
.orange-left7,
.circular-right7{
  top:38%;
}
.circular-left8,
.side-left8,
.lemon-left8,
.orange-left8,
.pink-left8,
.gray-left8,
.circular-right8{
  top:30%;
}
.circular-left9,
.side-left9,
.lemon-left9,
.orange-left9,
.pink-left9,
.gray-left9,
.circular-right9{
  top:22%;
}
.circular-left10,
.side-left10,
.lemon-left10,
.pink-left10,
.orange-left10,
.gray-left10,
.circular-right10{
  top:14%;
}
.circular-left11,
.side-left11,
.lemon-left11,
.pink-left11,
.orange-left11,
.gray-left11,
.circular-right11{
  top:6%;
}

.side-left0, .side-left1, .side-left2, .side-left3, .side-left4, 
.side-left5, .side-left6, .side-left7, .side-left8, .side-left9, 
.side-left10, .side-left11,
.lemon-left0, .lemon-left1, .lemon-left2, .lemon-left3, .lemon-left4, 
.lemon-left5, .lemon-left6, .lemon-left7, .lemon-left8, .lemon-left9, 
.lemon-left10, .lemon-left11,
.orange-left0, .orange-left1, .orange-left2, .orange-left3, .orange-left4, 
.orange-left5, .orange-left6, .orange-left7, .orange-left8, .orange-left9, 
.orange-left10, .orange-left11,
.pink-left0, .pink-left1, .pink-left2, .pink-left3, .pink-left4, 
.pink-left5, .pink-left6, .pink-left7, .pink-left8, .pink-left9, 
.pink-left10, .pink-left11,
.gray-left0, .gray-left1, .gray-left2, .gray-left3, .gray-left4, 
.gray-left5, .gray-left6, .gray-left7, .gray-left8, .gray-left9, 
.gray-left10, .gray-left11,
.circular-left0, .circular-left1, .circular-left2, .circular-left3, .circular-left4, 
.circular-left5, .circular-left6, .circular-left7, .circular-left8, .circular-left9, 
.circular-left10, .circular-left11, .circular-left12 {
  left: -2px;
}

.circular-right0, .circular-right1, .circular-right2, .circular-right3, .circular-right4, 
.circular-right5, .circular-right6, .circular-right7, .circular-right8, .circular-right9, 
.circular-right10, .circular-right11, .circular-right12 {
  right: 0;
}

.slant, .slant1 {
  transform: rotate(48deg) translate(10px, -10px);
  background-color: #3dbd58;
  color: white;
  padding: 0.5rem 2rem;
  position: absolute;
  right: -13px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  top: 2%;
  text-transform: uppercase;
}
.slant1{
  background-color: #c52323;
}
.card-anime:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
}
.claim-btn{
  background-color: #a6f3c43e;
}