apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-customer-portal-ingress
  namespace: default
  annotations:
    cert-manager.io/issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - customerportal.gworkspace.withhordanso.com
    secretName: customer-portal
  rules:
  - host: customerportal.gworkspace.withhordanso.com
    http:
      paths:
      - path: /auth
        pathType: Prefix
        backend:
          service:
            name: frontend-auth-service
            port:
              number: 80
      - path: /main
        pathType: Prefix
        backend:
          service:
            name: frontend-main-service
            port:
              number: 80
      - path: /domain
        pathType: Prefix
        backend:
          service:
            name: frontend-domain-service
            port:
              number: 80
      - path: /store
        pathType: Prefix
        backend:
          service:
            name: frontend-store-service
            port:
              number: 80
      - path: /email
        pathType: Prefix
        backend:
          service:
            name: frontend-email-service
            port:
              number: 80
      - path: /settings
        pathType: Prefix
        backend:
          service:
            name: frontend-settings-service
            port:
              number: 80
