.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.cart-delete-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  align-items: start;
}

@media (min-width: 1281px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
@media (max-width: 1280px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}

@media screen and (max-width: 640px) {
  .cart-delete-flex {
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
}