body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}
.cart{
  width: 100%;
  background-color: red;
}

.custom-title{
  @apply text-[#12A833] text-base font-medium sm:text-xl md:text-[28px];
}