@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.resource-align {
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .resource-align {
    align-items: start;
  }
}

.promotion-div{
  position: absolute;
  bottom: 50px;
  /* width: 100% !important;
  height: 100% !important; */
  width: 325px;
  height: 200px;
  /* background-color: black; */
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .promotion-div {
    left: 50%;
    transform: initial;
  }
}

@media screen and (min-width: 1024px) {
  .promotion-div {
    width: 470px;
    height: 289px;
  }
}

.promotion-div-data {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

/* absolute left-1/2 max-[768px]:transform max-[768px]:-translate-x-1/2 bottom-10 lg:w-[470px] w-[325px] lg:h-[289px] h-[200px] bg-black  */


.scroll-text{
  display: inline-block;
  /* padding: 10px 0; */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: white;
  animation: scroll 20s linear infinite;
  animation-play-state: running;
}

.scroll-text:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.banner-item {
  height: 620px !important;
}

@media screen and (max-width: 800px) {
  .banner-item {
    height: 700px !important;
  }
}

@media screen and (max-width: 768px) {
  .banner-item {
    height: 800px !important;
  }
}

@media screen and (max-width: 640px) {
  .banner-item {
    height: 700px !important;
  }
}

@media screen and (max-width: 360px) {
  .banner-item {
    height: 770px !important;
  }
}